@import 'src/scss/variables.scss';

@mixin input-base {
  background: transparent;
  border: 2px solid $gray-300;
  border-radius: 4px;
  font-size: 1rem;
  outline: none;
  padding: 0.5rem 1rem;
  transition: all 0.1s ease-in-out;
  background-color: white;

  &:disabled {
    cursor: not-allowed;
  }

  &.Input--fluid {
    width: 100%;
  }

  &--textarea {
    max-width: 100%;
    min-height: 8rem;
    padding: 1rem;
  }
}

.Input__container {
  display: inline-block;
  position: relative;

  &.Input__container--fluid {
    width: 100%;
  }
}

.Input {
  @include input-base;

  &:hover {
    border: 2px solid black;
  }

  &:focus,
  &:active {
    border: 2px solid red;
  }

  &:invalid {
    border: 2px solid red;
  }
}

.Input--filled {
  @include input-base;
  background: red;

  &:hover {
    background: red;
    border: 2px solid red;
  }

  &:focus,
  &:active {
    background: red;
    border: 2px solid red;
  }

  &:invalid {
    border: 2px solid red;
  }
}
