@import 'src/scss/variables.scss';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

body {
  line-height: 1;
  min-width: 320px;
}

button,
input[type='submit'],
input[type='button'] {
  cursor: pointer;
}

button:disabled,
input[type='submit']:disabled,
input[type='button']:disabled {
  cursor: not-allowed;
}

img,
video,
iframe {
  max-width: 100%;
}

table {
  font-size: inherit;
}

a,
img {
  border: 0;
}

a {
  text-decoration: none;

  &:active {
    color: $primary-blue;
  }

  &:visited {
    color: $primary-blue;
  }
}

ul,
ol {
  list-style: none;
}

img,
table,
td,
th {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
select,
textarea {
  background: none;
  border: none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0;
}

iframe {
  border: 0;
}

.Button {
  color: white;
  background-color: rgba(255, 255, 255, 0.209);
  font-weight: bold;
  padding: 0.75rem 2rem;
  border-radius: 100px;
  font-size: 0.8rem;
}
