// General typographic rules
html,
body {
  color: black;
  font-size: 16px; // If you change this value, you'll want to change the $rem-base variable in functions.scss
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

.error {
  color: red;
  font-size: 14px;
}

.hint {
  font-size: 12px;
}

// Icon fonts
$font-path: '../assets/fonts';
