$gray-100: #e0e0e0;
$gray-200: #c6c6c6;
$gray-300: #acacac;
$gray-400: #919191;
$gray-500: #777777;
$gray-600: #5c5c5c;
$gray-700: #424242;
$gray-800: #282828;
$gray-900: #000000;

$brown-100: #e5cdc7;
$brown-200: #cc9b8f;
$brown-300: #b26957;
$brown-400: #9a5747;
$brown-500: #8c4f40;
$brown-600: #703f33;
$brown-700: #543027;
$brown-800: #462820;
$brown-900: #38201a;
