@import 'src/scss/variables.scss';

.Navbar {
  width: 100%;
  padding: 1.5rem 2rem;
  z-index: 100;
  display: flex;
  justify-content: center;
  
  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    color: $black;
    font-weight: bold;
    font-size: 2.5rem;
    text-decoration: none;
    font-family: 'Madimi One', sans-serif !important;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
  }

  &__links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
