@import '~/scss/mixins';
@import '~/scss/variables';

.Spinner {
  &:before {
    animation: spin 2s linear infinite;
    border: 6px solid $gray-lt;
    border-bottom-color: $primary-9;
    border-top-color: $primary-9;
    border-radius: 50%;
    content: '';
    display: inline-block;
    height: 36px;
    width: 36px;
  }

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__message {
    color: $gray;
    margin-top: 0.5rem;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
