@import '~/scss/variables.scss';

@mixin button-base {
  appearance: none;
  background-color: transparent;
  border: none;
  border-radius: 4px;
  color: $black;
  display: inline-block;
  font-size: 14px;
  padding: 12px 48px;
  position: relative;
  text-align: center;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out;
  transform: scale(0.99);
  cursor: pointer;

  &:disabled {
    cursor: not-allowed;
  }

  .material-icons {
    display: block;
  }

  &.Button--fluid {
    width: 100%;
  }

  &.Button--rounded {
    border-radius: 4rem !important;
  }

  &.Button--emphasized {
    font-weight: bold;
    padding: 14px 64px;
    letter-spacing: 1px;
  }

  &.Button--static {
    transform: none !important;
  }

  &:hover {
    &:not(:disabled) {
      transform: scale(1.02);
    }
    
  }
}

// Default variant

.Button--variant--default {
  @include button-base;

  &:hover {
    // background-color: gray;
  }

  &:active {
    // background-color: gray;
  }

  &:disabled {
    color: $gray-600 !important;

    &:hover {
      background-color: transparent !important;
    }

    &:active {
      background-color: transparent !important;
    }
  }
}
// Outlined variant

.Button--variant--outlined {
  @include button-base;
  background-color: transparent;
  border: 2px solid $black;
  color: $black;

  &:hover {
    background-color: $black;
    color: $white;
  }
  
  &:active {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  }

  &:disabled {
    color: gray !important;

    &:hover {
      background-color: transparent !important;
    }

    &:active {
      background-color: transparent !important;
    }
  }
}

// Raised variant

.Button--variant--raised {
  @include button-base;
  background-color: $black;
  color: white;
  border: 2px solid $black;

  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.25);

  &:active {
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.25);
  }

  &:disabled {
    background-color: $gray-200 !important;
    border: 2px solid $gray-200 !important;
    box-shadow: none !important;
    color: gray !important;
  }
}
