.Home {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__healthRings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;

    &__main {

    }

    &__rest {
        display: flex;
        gap: 100px;
    }
  }
}
