@import './scss/functions';
@import './scss/open-color';
@import './scss/variables';
@import './scss/mixins';
@import './scss/defaults';
@import './scss/typography';
@import './scss/utils';

body {
  @include scrollbar;
}

a {
  color: $primary-9;
}

hr {
  border: none;
  border-top: 1px solid $border;
  margin: 0.5rem 0;
}

.centerPage {
  max-width: 320px;
  margin: 3rem auto 1rem;
}
