@import 'src/scss/defaults.scss';
@import 'src/scss/typography.scss';
@import 'src/scss/utils.scss';

body {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}