@import 'src/scss/defaults.scss';
@import 'src/scss/typography.scss';
@import 'src/scss/utils.scss';

body {
  margin: 0;
  padding: 0;
}

hr {
  border: none;
  margin: 0.5rem 0;
}

.centerPage {
  max-width: 320px;
  margin: 3rem auto 1rem;
}
